{% extends 'dashboard/base.html' %}
{% load dashboard %}

{% block sidebar %}
<form class="form w-80 min-h-full bg-base-200 text-base-content relative">
    <div class="fields overflow-auto p-4">
        {{ formfilter }}
    </div>
    <div class="bottom-0">
        <button class="btn w-full btn-xs btn-primary" type="submit">Gerar relatório</button>
    </div>
</form>
{% endblock %}

{% block content %}
<div class="max-h-screen overflow-auto w-full">
    <div class="fixed top-0 h-20 bg-white z-10 w-full block py-4">
        <h2>{{ report.title }}</h2>
        <p>{{ report.amount }}</p>
    </div>
    <div class="mt-20 relative w-full">
        <table class="table table-zebra table-xs w-full">
            <thead class="sticky top-20 bg-white">
                {{ dataframe|convert_data_frame_to_html_table_headers|safe }}
            </thead>
            <tbody class="overflow-y-auto">
                {{ dataframe|convert_data_frame_to_html_table_rows|safe }}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}