{% extends "dashboard/base.html" %}

{% block sidebar %}
<div class="w-80 min-h-full bg-base-200 text-base-content relative overflow-auto print:hidden">
    <div class="fixed h-6 z-10 bg-slate-200">
        <h2>Partes Interessadas</h2>
    </div>
    <div class="overflow-auto p-4 mt-6">
        <ul class="overflow-y-auto">
            {% for obj in stakeholders %}
            <li>
                <a class="link text-xs text-left hover:link-primary{% if request.GET.pk|add:"0" == obj.id %} link-primary{% endif %}" href="?pk={{obj.id}}">{{ obj.full_name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="max-h-screen overflow-auto w-full">
    <div class="relative w-full py-8">
        {% if stakeholder %}
        <div class="flex justify-between px-4">
            <div>
                <h1 class="text-2xl">{{ stakeholder.artist_name }}</h1>
                <h3 class="text-lg">{{ stakeholder.full_name }}</h3>
            </div>
            <div>
                <table class="table table-xs">
                    <tbody>
                        <tr>
                            <th>Rendimento</th>
                            <td>{{ stakeholder.earnings_brl }}</td>
                        </tr>
                        <tr>
                            <th>Retirada</th>
                            <td>{{ stakeholder.income }}</td>
                        </tr>
                        <tr>
                            <th>Saldo</th>
                            <td>{{ stakeholder.debit }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <details tabindex="0" class="collapse"> 
            <summary class="collapse-title text-xl font-medium cursor-pointer">Relação de obras</summary>
            <div class="collapse-content"> 
                <table class="table table-zebra table-xs w-full">
                    <thead class="bg-white">
                        <tr>
                            <th>Obra</th>
                            <th>Categoria</th>
                            <th>Participação</th>
                        </tr>
                    </thead>
                    {% for songholder in songholders %}
                    <tr>
                        <td>{{ songholder.song.title }}</td>
                        <td>{{ songholder.get_category_display }}</td>
                        <td>{{ songholder.royalties_share }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </details>

        <details tabindex="1" class="collapse">
            <summary class="collapse-title text-xl font-medium cursor-pointer">Relação de fonogramas</summary>
            <div class="collapse-content">
                <table class="table table-zebra table-xs w-full">
                    <thead class="bg-white">
                        <tr>
                            <th>Fonograma</th>
                            <th>Categoria</th>
                            <th>Participação</th>
                        </tr>
                    </thead>
                    {% for splitline in splitlines %}
                    <tr>
                        <td>{{ splitline.split.song.title }}</td>
                        <td>{{ splitline.get_kind_display }}</td>
                        <td>{{ splitline.value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </details>

        <details tabindex="0" class="collapse">
            <summary class="collapse-title text-xl font-medium cursor-pointer">Relatórios</summary>
            <div class="collapse-content">
                <table class="table table-zebra table-xs w-full">
                    <thead class="bg-white">
                        <tr>
                            <th>Nome do relatório</th>
                            <th>Rendimento (EUR)</th>
                            <th>Rendimento (BRL)</th>
                            <th>Ganhos (EUR)</th>
                            <th>Ganhos (BRL)</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    {% for item in stakeholder.get_sum_reports %}
                    <tr>
                        <td>{{ item.report.title }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.exchange_amount }}</td>
                        <td>{{ item.income }}</td>
                        <td>{{ item.exchange_income }}</td>
                        <td><a href="{% url 'generate_pdf' stakeholder_id=stakeholder.id report_id=item.report.id %}" target="_blank">Baixar resumo</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </details>
        {% endif %}
    </div>
</div>
{% endblock %}